@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h1>Edit Patron</h1>

<h3>@Html.DisplayFor(model => model.FullName)</h3>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.HiddenFor(model => model.PatronId)
    @Html.LabelFor(model => model.FirstName, new {@class="form-control"})
    @Html.TextBoxFor(model => model.FirstName)
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new {@class="form-control"})
  </div>
  <input type="submit" value="Edit" class="btn-outline-primary" />
}

<h5>@Html.ActionLink("Back to patron list", "Index")</h5>