@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add a new Book</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(book => book.Title)
  @Html.TextBoxFor(book => book.Title)
  @Html.Label("Add An Author")
  @Html.DropDownList("AuthorId")
  <input type="submit" value="Add book" class="btn btn-outline-dark" />
}
<h5>@Html.ActionLink("See all books", "Index")</h5>