@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add a new Book</h2>
<hr>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(book => book.Title)
    @Html.TextBoxFor(book => book.Title, new {@class="form-control"})
    @Html.Label("Add An Author")
    @Html.DropDownList("AuthorId", null, new {@class="form-control"})
  </div>
  <input type="submit" value="Add book" class="btn btn-outline-dark" />
}
<hr>
<h5>@Html.ActionLink("See all books", "Index")</h5>