@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h1>Edit Book</h1>

<h3>@Html.DisplayFor(model => model.Title)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  @Html.LabelFor(model => model.Authors)
  @Html.ListBoxFor(model => model.Authors)
  <input type="submit" value="Edit" class="btn btn-outline-light" />
}

<h5>@Html.ActionLink("Back to book list", "Index")</h5>